# Home Presence Tracker - all secret file **** Edit with Caution
# Place this at /home/pi/tracker/.env
# Permissions: chmod 600 .env
# Owner:       chown tracker:tracker .env
#
# Generate SECRET_KEY once and store it here permanently:
#   python3 -c "import secrets; print(secrets.token_hex(32))"

TELEGRAM_BOT_TOKEN=<123456789:ABCdefGhIJKlmnoPQRstuVWXyz>
TELEGRAM_CHAT_ID=<1023456789> #Personal chat IDs are usually 9 to 10 digits


ADMIN_PIN=987654 #Default
SECRET_KEY=c9f28c5a92a6e9734e12e7534438df3f24b9679f18a6e0d0460be780ea3b50cb
# Secrete key used for the Admin dashboard : cryptographically sign session cookies used by Flask and its extensions - "logged in" status
